body{
    font-family: "JetBrains Mono",monospace;
    color: #ffb563;
    font-weight: 600;
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}
.App {
    width: 700px;
    margin: 520px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.order-title,
.items-title{
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}
.btn{
    color: #ffb563;
    border: none;
    margin-bottom: 10px;
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.btn-img{
    width: 80px;
}

.btn-price{
    display: block;
}

